@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;700&display=swap');

:root {
    --board-blue: rgb(26, 45, 100);
    --border-blue: rgb(38, 47, 128);
}

img {
    max-width:60px;
    max-height: 60px;
}
body {
    margin: 0;
    background-image: linear-gradient(2deg, rgb(29, 38, 46) 4.3%, rgba(49, 55, 82, 1) 96.7%);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: #000000;
    line-height: 1.5;
    padding: 1rem 7rem;
    font-size: 3rem;
    border-radius: 10px;
    text-align: center;
}

h1 > span:first-of-type {
    color: rgb(255, 0, 0);
}

h1 > span:nth-child(2) {
    color: yellow;
}

button {
    margin-bottom: 1rem;
    padding: .5rem 2rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: auto;
}

footer > span {
    color: rgb(126, 126, 126);
}

.status-board {
    font-size: 2rem;
    width: 80%;
    max-width: 600px;
    height: 100px;
    background-color: rgba(48, 76, 129, 0.322);
    border-radius: 1rem;
    margin-bottom: 1rem;
    border: 2px solid white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player-display {
    font-size: 1.5rem;
    color: rgb(190, 190, 190);
}

.game-board-selector {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 600px;
    height: 80px;
    background-color: rgba(63, 80, 177, 0.212);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.selection-bar-active {
    height: 85%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.selection-bar-active div {
    border-radius: 5px;
    background-color: rgba(48, 77, 129, 0.623);
    border: 2px solid rgba(0, 128, 0, 0);
}

.selection-bar-active div:hover {
    border-color: rgb(54, 114, 245);
}

.selection-bar-inactive {
    height: 85%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.selection-bar-inactive div {
    border-radius: 5px;
    background-color: rgba(48, 77, 129, 0.623);
    border: 2px solid rgba(0, 128, 0, 0);
}

.submit-move-inactive {
    background-color: var(--board-blue);
    color: rgb(17, 17, 63);
}

.submit-move-active {
    background-color: rgb(45, 135, 170);
    color: white;
}

.submit-move-active:hover {
    background-color: rgb(76, 174, 212);
}

.submit-move-active:active {
    background-color: rgb(170, 231, 255);
}

.restart-button {
    background-color: rgb(58, 70, 184);
    color: white;
    margin-top: 1rem;
}

.restart-button:hover {
    background-color: rgb(75, 89, 219);
}

.restart-button:active {
    background-color: rgb(214, 218, 255);
}

.game-board-slots {

    width: 600px;
    height: 450px;
    box-sizing: border-box;
    background-color: var(--board-blue);
    border-radius: 1rem;
    border: 3px solid var(--border-blue);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.grid-slots {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template: repeat(6, 1fr)/ repeat(7, 1fr);
    gap: 5px;
}

.grid-slots div {
    -webkit-box-shadow: inset 2px 6px 15px 1px #000000;
    box-shadow: inset 2px 6px 15px 1px #000000;
    border-radius: 5px;
}

.slot div{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}